.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form h2 {
  color: #f6f7fb;
  text-align: center;
  padding-bottom: 20px;
}

.login-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #2e3856;
  background-color: #2e3856;
  color: #f6f7fb;
  border-radius: 4px;
}

.login-form button {
  padding: 10px;
  background-color: #4255ff;
  color: #f6f7fb;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #423ed8;
}

.signup-link {
  padding-top: 10px;
  text-align: center;
  color: #ffffff;
}