.privacy-container {
  background-color: #0a092d;
  height: 100vh;
  overflow: auto;
  position: relative;
}

.nav-space {
  height: 80px;
}

.privacy-policy-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 20px;
  border: 1px solid #f6f7fb;
  border-radius: 5px;
  margin: 40px 100px 40px 100px;
}

.privacy-policy-form h2, 
.privacy-policy-form h3, 
.privacy-policy-form h4 {
  color: #f6f7fb;
  padding: 10px 10px 10px 0px;
}

.privacy-policy-form p {
  font-size: 16px;
  line-height: 1.6;
  color: #f6f7fb;
  text-align: left;
  padding: 10px 10px 10px 0px;
}

.privacy-policy-form ul {
  color: #f6f7fb;
  list-style-type: disc;
  margin-left: 20px;
  text-align: left;
  padding: 10px 10px 10px 0px;
}

.privacy-policy-form li {
  color: #f6f7fb;
  margin-bottom: 10px;
}
